.BestSellerContent, .NewArrivalContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  margin-bottom: 40px;
}
.ProductListContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 450px 450px;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
}
.bsCard, .naCard, .plCard {
  height: 450px;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 23);
  padding: 1rem;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-rows: 250px 150px;
  grid-row-gap: 10px;
}
.bsCard img, .naCard img, .plCard img {
  width: 70%;
  object-fit: cover;
  padding-top: 20px;
  margin: 0 auto;
}
button {
  border-radius: 8px;
  width: 80px;
  height: 30px;
  background-color: #022859;
  color: #e0e2db;
  cursor: pointer;
}
/* i {
  font-size: 22px;
  margin-left: 20px;
  padding-top: 10px;
  color: #022859;
} */
h4 {
  padding-top: 5px;
}
h3 {
  padding-top: 5px;
}
