.footer {
 width: 100%;
 background: var(--c-db);
}

.footer .footer-row {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 3rem;
 padding: 15px 50px;
}

.footer ul li {
 list-style: none;
}

.footer h4,
.copyright {
 font-size: 1.5em;
 text-transform: uppercase;
 color: var(--c-lg);
 font-family: var(--f-o);
}

.socials a .fa-brands {
 font-size: 30px;
 padding: 5px;
}

.footer a img {
 width: 135px;
}

.copyright {
 background-color: var(--c-lg);
 color: var(--c-gr);
 text-align: center;
}

@media screen and (max-width: 965px) {
 .footer {
  position: relative;
  bottom: 0;
  left: 0;
  transform: none;
  width: 100%;
  border-radius: 0;
 }

 .footer .footer-row {
  padding: 20px;
  gap: 1rem;
 }
}

@media screen and (max-width: 620px) {
 .footer a img {
  width: 50px;
 }
}